.idea/
.vscode/

hamming/.exercism/
high-scores/.exercism/
robot-name/.exercism/
armstrong-numbers/.exercism/

hamming/__pycache__/
high-scores/__pycache__/
robot-name/__pycache__/
armstrong-numbers/__pycache__/
